header {
  position: sticky;
  background-color: var(--primary-color);
  padding: var(--mobile-margin) 0;
}

.nav-menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.logo {
  display: flex;
}

.els {
  color: white;
  font-size: 40px;
  font-family: "Quicksand", Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 0.5rem;
  padding: 0;
  height: 40px;
}

.colored-w {
  color: var(--accent-color);
}

.navbar-toggler {
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  padding: 0;
}

.navbar-toggler svg {
  fill: #fff;
  width: 40px;
  height: 40px;
}

.nav-menu-list {
  background-color: var(--secondary-color);
  z-index: 100;
  position: absolute;
  top: -100vh;
  right: 0;
  padding: var(--mobile-margin);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.nav-menu-list-content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-toggler {
  flex-grow: 0;
  align-self: flex-end;
}

.menu-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-list li {
  list-style: none;
  position: relative;
  display: block;
  padding: 1rem;
  padding-left: 1.5em;
  border-bottom: 1px solid #fff;
  transition: background-color 0.3s ease;
}

.menu-list-nested li {
    padding-left: 2.5rem;
}

.menu-list > li:not(:nth-child(2)),
.menu-list-father-wrapper,
.menu-list-nested > li {
  display: flex;
  align-items: center;
  gap: .3em;
}

.menu-list > li:first-child {
  border-top: 1px solid #fff;
  margin-top: var(--mobile-margin);
}

.menu-list-nested {
  margin-top: var(--mobile-margin);
  border-top: 1px solid #fff;
}
.menu-list-nested > li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.menu-list a {
  display: block;
  width: 100%;
  color: #fff;
  font-family: "Quicksand", Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--mobile-margin);
  font-weight: bold;
  transition: color 0.3 ease;
}

.menu-list-icon {
  fill: #fff;
}

.menu-list-father {
    position: relative;
    background-color: transparent;
}

.menu-list-father-wrapper::after,
.menu-list-nested>li:last-child::after {
    content: ".";
    width: calc(100% - 32px);
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding: var(--mobile-margin);
    transition: background-color 0.3s ease;
}

.menu-list-father-wrapper:hover::after,
.menu-list-nested>li:last-child:hover::after {
    background-color: var(--accent-color);
    cursor: pointer;
}

.menu-list > li:not(:nth-child(2)):hover a,
.menu-list-father-wrapper:hover>a,
.menu-list-nested > li:hover a {
  color: var(--primary-color);
}

.menu-list > li:not(:nth-child(2)):hover .menu-list-icon,
.menu-list-father-wrapper:hover>.menu-list-icon,
.menu-list-nested > li:hover .menu-list-icon {
  fill: var(--primary-color);
}

.menu-list > li:not(:nth-child(2)):hover,
.menu-list-nested > li:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.language-selector {
  flex-grow: 0;
}

.menu-visible {
  top: 0;
}

@media (min-width: 1140px) {
  .nav-menu-list-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
}
